<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bosphorus.Common.Api" version="2.0.1.4" targetFramework="net461" />
  <package id="Bosphorus.Common.Application" version="2.0.1.4" targetFramework="net461" />
  <package id="Bosphorus.Logging.Core" version="2.0.1.10" targetFramework="net461" />
  <package id="Bosphorus.Serialization.Core" version="2.0.1.1" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
</packages>